/* styles.scss o tu archivo de estilos personalizado */

  .center-content {
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  ion-list {
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  }
  
  ion-list-header {
    background-color: #000000; /* Fondo gris para el encabezado de la lista */
    font-weight: bold; /* Texto del encabezado en negrita */
  }
  
  
  ion-label {
    font-weight: bold; /* Texto de etiquetas en negrita */
    color: #000000; /* Color de texto más oscuro */
  }

  ion-toolbar {
    --background: #000000; /* Color de fondo para la barra de herramientas */
    --color: white; /* Color de texto para la barra de herramientas */
  }


  ion-label {
  color: white; /* Cambia el color del texto a blanco */
}