<ion-content [fullscreen]="true" class="ion-padding"  >
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profesor"></ion-back-button>
      </ion-buttons>
      <ion-title>Registrar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    
    <ion-row> 
      <ion-col id="col1" sizeLg="12" sizeMD="12" sizeXs="12" >

        
      </ion-col >
      <ion-col sizeLg="12" sizeMD="12" sizeXs="12" >
        <div id="div-fondo" >
          <div>
            <div class="nuevo">
              <form >
                <div class="encuesta">
                  <ion-input type="date" id="fecha" name="fecha" label="fecha"  label-placement="floating" fill="solid" placeholder="fecha"  required > </ion-input>
                  <br>
                </div>
                <div class="encuesta">
                  <ion-input type="text" id="sala" name="sala" label="sala" label-placement="floating" fill="solid" placeholder="sala"  required > </ion-input>
                  <br>
                </div>
                <div class="encuesta">
                  <ion-select placeholder="tipo Asignatura  " type="text" id="type" name="type"  required >
                    <div slot="label">Asignatura: <ion-text color="danger">(Requerido)</ion-text></div>
                    <ion-select-option value="Pasajero">Matematicas</ion-select-option>
                    <ion-select-option value="Conductor">Lenguaje</ion-select-option>
                    <ion-select-option value="Conductor">Ingles</ion-select-option>
                    <ion-select-option value="Conductor">Historia</ion-select-option>
                  </ion-select>
                <br>
              </div>
                <div class="encuesta">
                  <ion-input type="text" id="Hora de inicio" name="hora de inicio" label="Hora de inicio" label-placement="floating" fill="solid" placeholder="Hora de inicio"  required > </ion-input>
                  <br>
                </div>
              </form>
            </div>
          </div>
          <div>
            <!--
              Navigación con una función.
            -->
            <ion-button expand="block" color="dark"  >
              Crear Asistencia
            </ion-button>
            <ion-button expand="block" color="dark" (click)="cancelar()">
              Cancelar
            </ion-button>
      
          </div>
        </div>
    
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

