
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
  <ion-grid >
    <ion-row> 
      <ion-col sizeLg="12" sizeMD="12" sizeXs="12" >
        <div id="div-fondo">
          <div>
            <ion-input autocomplete="on" class="center-content" label="Usuario" label-placement="floating" fill="solid" placeholder="ingrese correo electronico " [(ngModel)]="userLoginModal.correo"  ></ion-input>
            <ion-input class="center-content" label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese contraseña" [(ngModel)]="userLoginModal.password" ></ion-input>
          </div>
          <div>
            <!--
              Navigación con una función.
            -->
            <ion-button   shape="round" color="success" (click)="userLogin(userLoginModal)" >Inicio </ion-button>
          </div>
          <div>
            <ion-button class="botoninicio" id="butoninicio" color="secondary" shape="round"   >Registrar </ion-button>
          </div>
          <div>
            <!--
              Navegación via HTML.
            -->
            <ion-button class="botonini"  id="butoninicio" shape="round" color="danger" >Olvido la contraseña</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>