<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      <img src="assets/Logo_titulo.png" alt="Logo Título" class="logo-titulo-img">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" sizeMD="8" sizeXs="12">
        <div id="div-fondo" class="center-content">
          <img src="assets/Logo_2.png" alt="Logo" class="logo-img">

          <div>
            <ion-input autocomplete="on" class="center-content" label="Usuario" label-placement="floating"
              fill="solid" placeholder="Ingrese correo electrónico" [(ngModel)]="userLoginModal.correo"></ion-input>
            <ion-input class="center-content" label="Contraseña" type="password" label-placement="floating"
              fill="solid" placeholder="Ingrese contraseña" [(ngModel)]="userLoginModal.password"></ion-input>
          </div>

          <div>
            <ion-button shape="round" color="dark" (click)="userLogin(userLoginModal)">Iniciar Sesion</ion-button>
          </div>

          <div>
            <ion-button class="botoninicio" id="butoninicio" color="dark" shape="round">Registrarse</ion-button>
          </div>

          <div>
            <a href="#" class="botonini" id="butoninicio">Olvidé la contraseña</a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>