<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card  >
    <ion-card-header>
      
      <ion-card-title>Codigo QR</ion-card-title>
      
      <div class="qrcodeImage">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{codigoQR}}" alt="">
      </div>
    </ion-card-header>
    
    <ion-card-content>
      ¡Escanea el codigo QR entregado por tu profesor para quedar registrado en la clase!
    </ion-card-content>
  </ion-card>
  
</ion-content>
